*{
    margin:0px;
    padding: 0px;
}
.sitetitle { 

    text-align: center;
    padding-top: 25px;
}

.sitetitle h3 {

    color: red;
    font-size: 34px;

}
.thumbnails img {
    vertical-align: top;
    background-color: black;
    width:200px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    position: absolute;
}

#image1 { left: 10%;}
#image2 { left: 30%;}
#image3 {}
#image4 { right: 11%;}
#image5 { left: 10%; top: 26%;}
#image6 { left: 30%; top: 27%;}
#image7 { top: 27%;}
#image8 { left: 10%; top: 45%;}
#image9 { top: 46%;}
#image10 { right: 11%; top: 58%;}


.row1,
.row2,
.row3           {

    display: block;
    text-align: center;

}
.image img {
    display:block;
    margin:0;
    padding:0;
    border:none;
    
}